<div class="h-100vh bg-light">
	<div class="d-flex flex-column h-100 align-items-center justify-content-center">
		<div class="bg-light h-500 w-450 rounded card-shadow p-5">
			<div class="text-center">
				<h3 class="font-20 text-spacing-1">Cl<i class="fas fa-clock font-13 text-primary"></i>ckr</h3>
				<h1 class="font-30 font-weight-light">Login</h1>
				<p>to your account</p>
			</div>

			<form [formGroup]="loginForm" autocomplete="on" (ngSubmit)="login()" class="mt-5" novalidate>
				<div [hidden]="iteration !== i" class="form-group" *ngFor="let question of questions; let i = index">
					<label [for]="question.type" class="text-dark">{{ question.label }}</label>
					<input [type]="question.type" [name]="question.type" [autocomplete]="question.autoComplete" [formControlName]="question.controlName" class="form-control" [placeholder]="question.placeholder" required>
					<small class="text-danger" [hidden]="!(hasError(question.controlName))">{{ question.errMsg }}</small>
				</div>

				<div class="form-group py-1">
					<a routerLink="#" class="font-weight-bold text-danger">Forgot Account?</a>
				</div>

				<button class="btn btn-primary float-right" *ngIf="!submitForm" (click)="nextQuestion()" [disabled]="!(isValid(questions[iteration].controlName))">Next</button>
				<button type="submit" class="btn btn-primary float-right" *ngIf="submitForm" [disabled]="!(isValid(questions[iteration].controlName))">Submit</button>
				<div class="clearfix"></div>
			</form>

			<div class="text-center mt-2 p-2">
				<span>Get the App on </span>
				<i class="fab fa-apple px-1 font-18 text-dark highlight-primary"></i>
				<i class="fab fa-google px-1 text-dark highlight-primary"></i>
			</div>
		</div>
		<div class="d-flex w-450 mt-3 p-2 font-weight-bold justify-content-between">
			<a routerLink="#" class="font-12" ><i class="fas fa-plus-circle"></i> New Account</a>
			<a routerLink="#" class="font-12" ><i class="fas fa-info-circle"></i> Help</a>
		</div>

	</div>
</div>