<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">

	<div class="p-2">
		<a routerLink="#" class="navbar-brand">Clockr</a>
	</div>

</nav>

<div class="container">

	<div class="mt-4">
		<p class="font-weight-bold text-muted text-uppercase">Trackers</p>

		<div class="card-deck" *ngIf="items?.length > 0; else noItems">
			<div class="card p-3 rounded-20 border-0 shadow text-light" [ngStyle]="{'background': item.color}" *ngFor="let item of items;let i = index;">
				<h5 class="card-title pl-3">{{ item.title | uppercase}}</h5>

				<div class="card-body">
					<div class="card-text">
						<p class="text-uppercase">{{ item.color }}</p>
						<p class="m-0">{{ item.desc }}</p>
					</div>
				</div>

			</div>
		</div>

		<ng-template class="card" #noItems>
			<h5 class="card-title">No plans found</h5>
		</ng-template>
	</div>


	<div class="mt-4">
		<p class="font-weight-bold text-muted text-uppercase">Plans</p>

		<div class="card-deck" *ngIf="plans?.length > 0; else noItems">
				<div class="card p-3 rounded-20 border-0 shadow text-light" [ngStyle]="{'background': item.color}" *ngFor="let item of plans;let i = index;">
					<h5 class="card-title pl-3">{{ item.title | uppercase}}</h5>
	
					<div class="card-body">
						<div class="card-text">
							<p class="text-uppercase">{{ item.color }}</p>
							<p class="m-0">{{ item.desc }}</p>
						</div>
					</div>

					<div class="bg-light p-3 text-center text-dark rounded-20" (click)="changePlan(item.id)">
						<p class="m-0 font-weight-bold" *ngIf="company.planId === item.id; else upgrade">Current Plan</p>
						<p class="m-0 font-weight-bold" *ngIf="company.planId !== 1 && item.id === 1">Free Plan</p>
						<ng-template #upgrade>
							<p class="m-0">Upgrade</p>
						</ng-template>
					</div>
				</div>
			</div>
	
			<ng-template class="card" #noItems>
				<h5 class="card-title">No plans found</h5>
			</ng-template>
	</div>

</div>