a{
	&:after{
		content: "";
		width: 0px;
		height: 2px;
		display: block;
		background: red;
		transition: width 0.5s ease-in-out;
	}

	&:hover{
		&:after{
			width: 100%;
		}
	}
}

.rounded-20{
	border-radius: 20px;
}